/* ************* */
/* HERO SECTION */
/* ************* */
.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
}

.nav {
    position: relative;
    right: 2.5rem;
}

.nav-list {
    align-items: center;
    display: flex;
    gap: 4.5rem;
    list-style: none;
}

.nav-link:link,
.nav-link:visited {
    color: var(--color-black);
    font-size: 1.3rem;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-cta:link,
.nav-cta:visited {
    box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.2);
    color: var(--color-white-pure);
    padding: .7rem 3.4rem;
}

/* ************* */
/* HERO SECTION */
/* ************* */

.section-hero {
    padding: 9.6rem 0;
}

/* .hero__image-box {
    height: 38.6rem;
    position: relative;
    width: 57.9rem;
}

.hero__image {
    height: 100%;
    width: 100%;
} */

.hero__image {
    width: 120%;
}

.hero__image-box {
    position: relative;
}

.hero__image-box::before {
    background-color: var(--color-olive);
    border-radius: 50% 0 0 50%;
    content: "";
    display: block;
    height: 85%;
    position: absolute;
    right: -27%;
    top: 9rem;
    /* transform: translate(-50%, -50%); */
    width: 87%;
    z-index: -1;
}

/* ************* */
/* FEATURES SECTION */
/* ************* */

.features__select-group {
    max-width: 73rem;
    margin: 7rem auto 10rem;
}

.features__select-button {
    background-color: transparent;
    border: none;
    /* border-bottom: .2rem solid #495dcf34; */
    color: var(--color-black);
    cursor: pointer;
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.1;
    padding-bottom: 2.5rem;
    position: relative;
    transition: all .5s;
}

.features__select-button::after {
    background-color: var(--color-gray);
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    padding-bottom: .2rem;
    width: 100%;
    transition: all .2s;
}

.features__select-button:hover,
.features__select-button:active {
    color: var(--color-red);
}

.features__select-button--active::after {
    background-color: var(--color-red);
    padding-bottom: .5rem;
}

.features__image-box {
    position: relative;
}

.features__image {
    width: 94%;
}

.features__image-box::before {
    background-color: var(--color-olive);
    border-radius: 0 50% 50% 0;
    content: "";
    display: block;
    /* height: 85%; */
    height: 100%;
    max-height: 34.6rem;
    position: absolute;
    left: -27%;
    top: 9rem;
    width: 100%;
    max-width: 49.5rem;
    /* width: 87%; */
    z-index: -1;
}

.features__content-box {
    left: 9rem;
    position: relative;
}

/* ************* */
/* DOWNLOAD SECTION */
/* ************* */

.section-download {
    padding: 9.6rem 0;
}

.download__card-group {
    gap: 3rem;
    max-width: 90rem;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.2);
    padding: 5.5rem 0 2.5rem;
    text-align: center;
}

.card:not(:first-of-type) {
    position: relative;
}

.card:nth-child(2) {
    top: 4rem;
}

.card:nth-child(3) {
    top: calc(4rem * 2);
}

.card, .card__pane-top {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card__logo {
    margin-bottom: 2.5rem;
    width: 100%;
}

.card__heading {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 0.4rem;
}

.card__description {
    font-size: 1.5rem;
    line-height: 2;
    opacity: 50%;
}

.card__link {
    margin-top: 6rem;
    position: relative;
}

.card__pane-bottom {
    background-image: url(../images/bg-dots.svg);
    background-position-y: 3.5rem;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}


/* ************* */
/* FAQ SECTION */
/* ************* */

.section-faq {
    padding: 9.6rem 0;
}

.accordion {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 54rem;
}

.accordion__item {
    border-bottom: .1rem solid var(--color-gray);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    opacity: 50%;
}

.accordion__item:first-of-type {
    border-top: .1rem solid var(--color-gray);
    opacity: 50%;
}

.accordion__heading-box {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.accordion__heading {
    font-size: 1.8rem;
    line-height: 2;
}

.accordion__heading-box:hover .accordion__heading {
    color: var(--color-red);
}

.accordion__icon {
    height: 3rem;
    width: 3rem;
}

.accordion__hidden-box {
    display: none;
}

.accordion__description {
    font-size: 1.6rem;
    line-height: 2.2;
}

.accordion__item--open .accordion__hidden-box {
    display: block;
}

.accordion__item--open .accordion__icon {
    fill: var(--color-red);
    transform: rotateX(180deg);
}

.faq__button-box {
    margin-top: 5rem;
    text-align: center;
}

/* ************* */
/* CTA SECTION */
/* ************* */

.section-cta {
    background-color: var(--color-olive);
    color: var(--color-white-pure);
    padding: 7rem 0 9rem;
}

.cta__content {
    max-width: 44.2rem;
    margin: 0 auto;
    text-align: center;
}

.cta__heading-box {
    color: var(--color-white-pure);
}

.cta__subheading {
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: .5rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.cta__contact-us {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.cta__btn {
    color: var(--color-white-pure);
}

.cta__email-input {
    border: none;
    border-radius: 0.6rem;
    flex-basis: 69%;
    padding: 1rem 0rem;
    padding-left: 1rem;
}

.cta__email-input::placeholder {
    color: var(--color-gray);
    opacity: 50%;
}

.cta__email-input::-webkit-input-placeholder {
    color: var(--color-gray);
}

.cta__email-input:focus {
    outline: none;
}

/* ************* */
/* FOOTER SECTION */
/* ************* */

.footer {
    background-color: var(--color-black);
    padding: 5rem 0;
}

.container--footer {
    display: flex;
    align-items: center;
}

.logo--footer {
    fill: var(--color-white-pure);
}

.footer__nav-link {
    color: var(--color-white-pure);
}

.nav--footer {
    width: 100%;
}

.nav-link--footer:link,
.nav-link--footer:visited {
    color: var(--color-white-pure);
}

.icon--footer {
    display: block;
    fill: var(--color-white-pure);
    height: 3rem;
    width: 3rem;
}